@model IList<Page>

@{
    ViewBag.Title = Html.Text("Pages");
    var page = (int)ViewData["Page"];
    Layout = Layouts.Admin;
    var properties = Resolver.GetInstance<IReflector>().Reflect<AAYW.Core.Models.Bussines.Admin.Page>().Properties;
}
<div class="admin-pages mui-panel">
    <h2>@Html.Text("Pages")</h2>
    <div class="paging">
        @if (page != 0)
        {
            <a href="@(Url.RouteUrl("PageList", new { page = page - 1 }))">&larr;</a>
        }
        <span class="page">@page</span>
        <a href="@(Url.RouteUrl("PageList", new { page = page + 1 }))">&rarr;</a>
    </div>
    @if (Model != null && Model.Count != 0)
    {
        <div class="table-wrapper">

            <table class="mui-table mui-table--bordered">
                <thead>
                    <tr>
                        @foreach (var property in properties)
                        {
                            <th>
                                @property.Name
                            </th>
                        }
                        <th>
                            @Html.Text("Contorols")
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.Id">
                        <td>
                            @item.Url
                        </td>
                        
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.ContentBlocks.InnerXml
                        </td>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.CreatedDate
                        </td>
                        <td>
                            @item.ModifiedDate
                        </td>
                        <td>
                            <div class="row">
                                @Html.Button(Html.Text("Delete"), ButtonType.Raised, Url.RouteUrl("DeletePage", new { id = item.Id }), "mui-btn--danger")
                            </div>
                            <div class="row">
                                @Html.Button(Html.Text("Edit"), cssClass: "edit-pages")
                            </div>
                            <div class="row">
                                @Html.Button(Html.Text("View"), href: Url.RouteUrl("CustomPage", new { url = item.Url }))
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div class="mui--appbar-height mui--appbar-line-height no-results">
            @Html.Text("NoResults")
        </div>
    }
    @Html.Button(Html.Text("Create"), ButtonType.Raised, cssClass: "create")
</div>

