@model News.Business.ViewModels.TidingsViewModel
    @using (Html.BeginForm("Create", "Tidings", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })    
        </div>
        <div>
            @Html.LabelFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
        </div>
        <div>
            <button class="btn waves-effect cyan waves-light btn-right" type="submit">Cтворити</button>
            <button class="btn red darken-3 waves-effect waves-light btn-right decline-create" type="reset">Відмінити</button>
        </div>
    }
