@model News.Business.ViewModels.TidingsViewModel
@using Resources
    @using (Html.BeginForm("Create", "Tidings", FormMethod.Post))
    {
        <h3>Створити новину</h3>
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })    
        </div>
        <div>
            @Html.LabelFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
        </div>
        <div id="controls">
            <div id="wrapper-controls">
                <button class="btn waves-effect cyan right waves-light btn-right" type="submit">@Resources.Resource.create</button>
                <a class="btn red darken-3 waves-effect waves-light btn-right decline-create" href="javascript:PopUpHide()">@Resources.Resource.decline</a>
            </div>
        </div>
    }
