@model List<News.Business.ViewModels.TidingsViewModel>
@using Resources
@{
    ViewBag.Title = "List";
}
@if (User.IsInRole("Filler"))
{
    <div class="content">
        @foreach(var item in Model)
        {
            var url = "/tiding/" + item.Id;
            <div class="event_holder">
                <div class="event_wrapper">
                    <span class="entry_date">
                        <time s class="icon">
                            <em>@item.PublishData.DayOfWeek</em>
                            <strong>@item.PublishData.ToString("MMMM")</strong>
                            <span>@item.PublishData.Day</span>
                        </time>
	                </span>	
			        @if(item.AuthorId == User.Identity.Name)
                    {
                        <i class="small material-icons updateNews">assignment</i>
                    }
		            <a href="@url">
                        <h1>@item.Title</h1>
		            </a>
                    <div class="category_links">
			            <div class="category location">
                            <div>@item.Discription</div>
                        </div>			
                    </div>
                </div>
                    @if(item.AuthorId == User.Identity.Name)
                {
                    <div class="update">
                        <div class="event_wrapper">
                            <h1>""</h1>
                            <div class="category_links">
			                    <div class="category location">
                                     @Html.Partial("Update",item)
                                 </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }
    </div>
}
else
    if (User.IsInRole("Admin"))
    {
        <div class="content">
        @foreach(var item in Model)
        {
            var url = "/tiding/" + item.Id;
            <div class="event_holder">
                <div class="event_wrapper">
                    <span class="entry_date">
                        <time datetime="@item.PublishData" class="icon">
                            <em>@item.PublishData.DayOfWeek</em>
                            <strong>@item.PublishData.ToString("MMMM")</strong>
                            <span>@item.PublishData.Day</span>
                        </time>
	                </span>	
			        <i class="small material-icons updateNews">assignment</i>
		            <<a href="@url">
                        <h1>@item.Title</h1>
		            </a>
                    <div class="category_links">
			            <div class="category location">
                            <div>@item.Discription</div>
                        </div>			
                    </div>
                </div>
                    <div class="update">
                        <div class="event_wrapper">
                            <h1>@Resources.Resource.update</h1>
                            <div class="category_links">
			                    <div class="category location">
                                @Html.Partial("Update",item)
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>

        }
    </div>
    <a class="btn-floating btn-large waves-effect waves-light cyan lighten-2 create-button" href="javascript:PopUpShow()"><i class="material-icons">add</i></a>


    <div class="b-popup" id="popup1">
        <div class="b-popup-content">
            @Html.Partial("Create", new News.Business.ViewModels.TidingsViewModel())
        </div>
    </div>
        
    }
    else
    {
        foreach(var item in Model)
        {
            var url = "/tiding/" + item.Id;
            <div class="event_holder 2012" id="event_2378">
                <div class="event_wrapper">
                    <span class="entry_date">
                        <time datetime="@item.PublishData" class="icon">
                          <em>@item.PublishData.DayOfWeek</em>
                          <strong>@item.PublishData.ToString("MMMM")</strong>
                          <span>@item.PublishData.Day</span>
                        </time>
	                </span>	
				
		            <a href="@url">
                        <h1>@item.Title</h1>
		            </a>
			
                    <div class="category_links">
			        <div class="category location">
                            <div>@item.Discription</div>
                    </div>			
                    </div>
                </div>
            </div>
        }
    }
<pre>
    @ViewBag.xml
</xmp>
