<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/materialize/css/materialize.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <noscript><h3 class="error-massage">Увімкніть js</h3></noscript>


    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <a href="@Url.RouteUrl("Home")" rel="tooltip" title="" data-placement="right" class=" brand-logo" data-original-title="Home">
                <img id="globe" src="~/Content/images/icon.png" />
              <span id="logo">Breaking news</span>              
            </a>
            <ul class="right hide-on-med-and-down">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                            <a href="@Url.RouteUrl("ShowXml")"><i class="large material-icons print">print</i></a>
                        </li>
                    }
                    <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                        Вітаємо, @User.Identity.Name
                    </li>
                    <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                       <a href="@Url.RouteUrl("LogOut")"><i class="large material-icons logout">power_settings_new</i></a>
                    </li>
                }
                else
                {
                    <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                        <a href="@Url.RouteUrl("LogIn")"><i class="large material-icons login">power_settings_new</i></a>
                    </li>
                }
            </ul>
        </div>
    </nav>


    @*<header id="header">
        <div class="main-menu dark">
	        <div class="row">
		        <div class="grid_2 grid_btn icon-tab">
			        
			        <a class="spring show-phone"></a>
		        </div><!-- 2 -->
		        <div class="grid_2 right hide-phone grid_btn">
			        <ul id="main-menu" class="menu-side">
                         @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                                    <a href="@Url.RouteUrl("ShowXml")">XML</a>
                                </li>
                            }
                            <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                                @User.Identity.Name
                            </li>
                             <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                                @Html.RouteLink("Вийти", "LogOut", null)
                            </li>
                         }
                        else
                        {
                        <li id="menu-item-311" class="menu-item menu-item-type-post_type_archive menu-item-object-design menu-item-311">
                            @Html.RouteLink("Увійти", "logIn", null)
                        </li>
                        }
                    </ul>

		        </div><!-- 10 -->
	        </div><!-- Row -->
        </div>
    </header>*@
    <div id="content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/materialize/materialize.min.js")
    @Scripts.Render("~/Scripts/News.js")
    @RenderSection("scripts", required: false)
</body>
</html>
