<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/materialize/css/materialize.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <noscript><h3 class="error-massage">Увімкніть js</h3></noscript>


    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <a href="@Url.RouteUrl("Home")" rel="tooltip" title="" data-placement="right" class=" brand-logo" data-original-title="Home">
                <img id="globe" src="~/Content/images/icon.png" />
              <span id="logo">Breaking news</span>              
            </a>
            <ul class="right hide-on-med-and-down">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                            <a href="@Url.RouteUrl("ShowXml")"><i class="large material-icons print">print</i></a>
                        </li>
                    }
                    <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                        Вітаємо, @User.Identity.Name
                    </li>
                    <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                       <a href="@Url.RouteUrl("LogOut")"><i class="large material-icons logout">power_settings_new</i></a>
                    </li>
                }
                else
                {
                    <li id="menu-item-309" class="menu-item menu-item-type-post_type_archive menu-item-object-about menu-item-309">
                        <a href="@Url.RouteUrl("LogIn")"><i class="large material-icons login">power_settings_new</i></a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div id="content">
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Зв'язок</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Як з нами зв'язатися</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Вконтакті Богдана</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Вконтакті Влада</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">ЛінкедІн Богдана</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">ЛінкедІн Влада</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Всі права захищені
                <a class="grey-text text-lighten-4 right" href="#!">Більше посилань</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/materialize/materialize.min.js")
    @Scripts.Render("~/Scripts/News.js")
    @RenderSection("scripts", required: false)
</body>
</html>
