@model AAYW.Core.Models.Bussines.Post.Post
@using AAYW.Core.Data.Managers;
@using AAYW.Core.Models.Bussines.Post;
@{
    Layout = Layouts.Default;
    var userManager = AAYW.Core.Dependecies.Resolver.GetInstance<AAYW.Core.Data.Managers.UserManager>();
    var commentsManager = AAYW.Core.Dependecies.Resolver.GetInstance<IManager<PostComment>>();
    var comments = commentsManager.GetListByField("PostId", Model.Id.ToString());
    ViewBag.Title = Model.Title;
}

<div class="mui-panel center post">
    <h3>@Model.Title</h3>
    <div class="post-content">
        @(new HtmlString(Model.Content))
    </div>
    <div class="post-date">
        @Model.CreatedDate
    </div>
    @if (userManager.IsAuthorized && userManager.CurrentUser != null && userManager.CurrentUser.CurrentRole == AAYW.Core.Models.Bussines.User.User.Role.Admin)
    {
        <div class="post-controls" data-id="@Model.Id">
            <div class="control">
                @Html.Button(Html.Text("Edit"), ButtonType.Raised, cssClass: "edit")
            </div>
            <div class="control">
                @Html.Button(Html.Text("Delete"), ButtonType.Raised, cssClass: "delete mui-btn--danger")
            </div>
        </div>
    }
</div>
<div class="mui-panel">
    <h3>@Html.Text("Comments")</h3>
    <hr />
    <ul class="post-comments">
        @if (comments.Count == 0)
        {
            <li>
                <div class="mui--appbar-height mui--appbar-line-height no-results mui--text-headline">
                    @Html.Text("NoComments")
                </div>
            </li>
        }
        else
        {
            foreach (var comment in comments)
            {
                var author = userManager.GetById(comment.UserId.ToString());
                <li class="mui-panel">
                    <h4 class="underscore">@author.Login</h4>
                    <div>
                        @comment.Content
                    </div>
                    <div class="post-date">@comment.CreatedDate</div>
                </li>
            }
        }
    </ul>
    @if (userManager.IsAuthorized)
    {
        <hr />
        using (Html.BeginRouteForm("AddPostComment"))
        {
            @Html.Hidden("PostId", Model.Id)
            @Html.Hidden("UserId", userManager.CurrentUser.Id)
            <div class="row">
                <div class="control mui-textfield">
                    @Html.TextArea("Content", "", new { maxlength = 500 })
                </div>
            </div>
            <div class="row">
                <div class="control">
                    @Html.Submit(Html.Text("Comment"), ButtonType.Raised)
                </div>
            </div>
        }
    }
</div>