@model News.Business.ViewModels.UserViewModel
@{
    ViewBag.Title = "LogIn";
}
<div id="blur-container">
    <div id="wrapper-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="LoginForm">
            <div>
                @Html.ValidationMessageFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Введіть email", autocomplete="false" })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Введіть пароль",autocomplete="false" })
            </div>
            <button type="submit" class="btn waves-effect cyan waves-light width100" id="logIn">Увійти</button>
        </div>
    }
</div>
    </div>
