@model News.Business.ViewModels.UserViewModel
@{
    ViewBag.Title = "LogIn";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div id ="LoginForm">
    
        <div>
            @Html.ValidationMessageFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class="form-control", placeholder="Введіть email"})
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class="form-control", placeholder="Введіть пароль"})
        </div>
        <button type="submit" class="btn waves-effect waves-light width100" id="logIn">Увійти</button>
    </div>
}
